decorator==4.0.10
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.8.13
gunicorn==19.6.0
ipython==4.2.1
ipython-genutils==0.1.0
pexpect==4.2.0
pickleshare==0.7.2
ptyprocess==0.5.1
simplegeneric==0.8.1
static3==0.7.0
traitlets==4.2.2
virtualenv==15.0.2
psycopg2==2.6.1
